/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin: 0;
	padding: 0;
	border: 0;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;

}

main {
  display: flex;
  flex-direction: column;
  margin: 50px 20px;
  border-radius: 10px;
}


.detailsContainer {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.sedansContainer {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.suvsContainer {
  background-color:  hsl(184, 100%, 22%);

}

.luxuryContainer {
  background-color:  hsl(179, 100%, 13%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

}

img {
  width: 65px;
}

.icons {
  margin-bottom: 20px;
}

h1 {
  text-transform: uppercase;
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: bold;
  font-size: 38px;
  color: hsl(0, 0%, 95%);
  margin-bottom: 20px;

}

p {
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 20px;
  line-height: 25px;

}

button {
  background-color: hsl(0, 0%, 95%);
  width: 140px;
  padding: 15px;
  border-radius: 30px;
  font-family: "Lexend Deca", sans-serif;
}

.sedansContainer button:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsl(31, 77%, 52%);
  border: 2px solid   hsl(0, 0%, 95%);

}

.suvsContainer button:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsl(184, 100%, 22%);
  border: 2px solid   hsl(0, 0%, 95%);

}
.luxuryContainer button:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsl(179, 100%, 13%);
  border: 2px solid   hsl(0, 0%, 95%);
}

.sedansContainer button {
  color: hsl(31, 77%, 52%);
}

.suvsContainer button {
  color: hsl(184, 100%, 22%);
}

.luxuryContainer button {
  color: hsl(179, 100%, 13%);
}


@media (min-width: 800px) {
  body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    
  }

  main {
    border: 1px solid black;
    flex-direction: row;
    /* width: 80%; */
    /* height: 70%; */
    border-radius: 10px;
  }

  .sedansContainer {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    max-width: 350px;
  }

  .luxuryContainer {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;

  }

  main section {
    max-width: 350px;


  }

  .detailsContainer {
    margin: 50px 20px;
  }
  p {
    margin-bottom: 40px;
  }
}